@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
}
/* Fonts Setup */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* Fonts setup end */

/* Shared Styles start */
.display-flex {
    display: flex;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: #ff900e;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 18px;
    cursor: pointer;
}

main {
    max-width: 1080px;
    margin: 0 auto;
}
/* Shared styles end */

/* Header styles start */
header {
    background-color: #ff900e1a;
}
/* Header styles end */

/* Navbar styles start */

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
    margin-bottom: 88px;
}
.navbar .brand {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links {
    text-decoration: none;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1080px;
    margin: 0 auto;
}
/* Navbar styles end */

/* Banner style start */
.banner-content {
    max-width: 646px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.banner-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 24px;
}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
}

.banner .banner-image {
    width: 100%;
    margin-bottom: 34px;
}
/* Banner style end */

/* Header section responsive start */
@media screen and (max-width: 572px) {
    .navbar,
    .nav-links {
        flex-direction: column;
        text-align: center;
    }
    .nav-item {
        padding: 10px;
    }
    .banner-description {
        padding: 0 6px;
    }
}

/* Header section responsive end */

/* Teams Section start */
.teams {
    width: 100%;
    align-items: center;

    margin: 0 auto;
    margin-top: 64px;
}
.teams .team-image-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    margin-right: 58px;
    margin-left: 45px;
}
.teams .team-image-container img {
    width: 100%;
}

.team-features {
    width: 50%;
}

.team-features .feature-title {
    color: #727272;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 18px;
}

.team-features .feature-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-right: 45px;
    margin-bottom: 24px;
}
/* Teams Section end */

/* Teams section Responsive design */

@media screen and (max-width: 572px) {
    .teams {
        flex-direction: column;
        text-align: center;
    }
    .team-features .feature-title {
        text-align: center;
        margin-top: 30px;
    }

    .teams .feature-description {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .teams .team-image-container {
        width: 90%;
    }

    .team-features {
        width: 90%;
    }
}
/* Teams section responsive end */

/* Features section start */

.features {
    width: 100%;
    margin-top: 92px;
    margin-bottom: 126px;
    position: relative;
}

.features-area {
    width: 50%;
    margin-right: 110px;
}

.features-image {
    width: 50%;
}
.features-image img {
    width: 100%;
    height: 90%;
}

.features-area .feature-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    border-left: 6px solid #ff900e;
    padding-left: 20px;
    margin-bottom: 18px;
}

.features-area .feature-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.features .features-card .card {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px #0000000f;
    background: #ffffff;
    margin: 12px 0;
    padding: 22px 32px 22px 22px;
}

.card .card-title {
    color: #131313;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.card .card-description {
    color: #727272;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 26px;
}

.features .experience-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15%;
    height: 80px;
    background-color: #ff900e;
    position: absolute;
    bottom: 0;
    right: 34%;
    bottom: 70px;
    color: white;
    border-radius: 8px;
}
/* Features section end here */

/* Features section responsive design start here */
@media screen and (max-width: 572px) {
    .features {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .features .features-image {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .features .features-area {
        width: 90%;
        margin: 0 auto;
    }
    .features .features-card {
        width: 95%;
    }

    .features .features-card .card {
        width: 90%;
    }
    .features .features-info {
        width: 90%;
    }
    .features .experience-display {
        display: none;
    }
}

/* Features section responsive design end here */

/* Facts section start from here */

.facts {
    width: 100%;
    margin-bottom: 136px;
}
.facts .facts-info {
    width: 40%;
}
.facts .facts-info .facts-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 18px;
}

.facts .facts-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.facts .facts-area {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 75px;
}

.facts .fact {
    border: 1px solid #ff900e;
    border-radius: 8px;
    width: 15%;
    padding: 20px 0;
}

.facts .fact h2 {
    color: #424242;
    font-size: 2rem;
    font-weight: 600;
}
.facts .fact p {
    color: #727272;
    font-size: 1rem;
    font-weight: 600;
}
/* Facts section end */

/* Facts section responsive design start */

@media screen and (max-width: 572px) {
    .facts .facts-area {
        flex-direction: column;
    }

    .facts .fact {
        width: 40%;
        margin: 10px 0;
    }

    .facts .facts-info {
        text-align: center;
        margin: 0 auto;
        width: 90%;
    }
}
/* Facts section responsive end */

/* Sponsors section start from here */

.sponsors .sponsor-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
}

.sponsors .sponsor-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.sponsors .sponsors-image {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}

.sponsors .sponsors-image img {
    filter: grayscale(100%);
}
/* Sponsors section end here */

/* Sponsors section responsive design start from here */
@media screen and (max-width: 572px) {
    .sponsors .sponsors-image {
        flex-direction: column;
    }

    .sponsors .sponsors-image img {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

/* Sponsor section responsive design end here */

/* Footer section start from here */

footer {
    max-width: 1080px;
    height: 90px;
    background-color: #fff4e7;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #424242;
    font-size: 1rem;
    font-weight: 400;
}

/* Footer section end */

/* Footer section responsive design start from here */

@media screen and (max-width: 572px) {
    footer {
        text-align: center;
    }
}

/* Footer section responsive design section end */
